{% extends 'base.html' %}
{% block content %}
    <div class="front-page-items">
    <div class="main-container">
    <h1>Welcome to Fire Sale</h1>
    {% if user.is_authenticated %}
        <div class="frontpage-buttons">
        <a href="{% url 'listings'%}" class="block btn btn-primary">Browse Listings</a>
        <a href="{% url 'offers-made' current_user.id %}" class="block btn btn-primary">See your offers</a>
        </div>
    {% else %}
        <div class="frontpage-buttons">
        <a href="{% url 'login' %}" class="block btn btn-primary">Login</a>
        <a href="{% url 'register' %}" class="block btn btn-primary">Register</a>
        </div>
    {% endif %}
    </div></div>
{% endblock %}