.frontpage-logo{
    display: flex;
    justify-content: center;
}

.frontpage-buttons{
    display: flex;
    justify-content: space-around;
}

.container{
    /*background: #ffffff;*/
    border-radius: 10px;
    padding: 0.5em;
    width: 80%;
    margin-top: 1em;
}

.main-container{
    padding: 1em;
    border-radius: 15px;
}

.user-profile-container{
    padding: 1em;
    margin: 1em;
    border: 2px solid #ffd895;
    border-radius: 10px;
}

.profile-image{
    width: 200px;
    height: 200px;
}

.profile-userinfo-box{
    border-radius: 5px;
    border: 1px solid #d75a00;
}

.tiny-listing{
    display: inline-block;
    background: #f6f6f6;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    transition: 0.5s;
    text-decoration-color: #1c1c1c;
    max-width: 250px;
}
.tiny-listing:hover{
    background-color: #ffcc9c;
    box-shadow: 5px 5px 10px #8a8989;
}

#singlelisting{
    background: #f6f6f6;
    padding: 1em;
    margin: 1em;
    /*border: 2px solid #fff3e5;*/
    border-radius: 10px;
    transition: 0.5s;
    text-decoration-color: #1c1c1c;
}

#singlelisting:hover{
    background-color: #ffcc9c;
    box-shadow: 5px 5px 10px #8a8989;
}
.sort-by{
    background-color: darkorange;
    border: none;
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    margin-right: 0.5em;
}
.img-float{
    width: 200px;
    height: 200px;
}
.message-image{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}
.listing-photo{
    display: inline-block;
    width:200px;
    height: 200px;
    transition: 0.5s;
}

.listing-photo:hover{
    width: 250px;
    height:250%;
    box-shadow: 5px 5px 10px #8a8989;
}

.listing-details{
    margin: 1em;
}

.offer{
    background: linear-gradient(-45deg, #b7ffa6, #cfffb4);
    margin: 0.5em;
    padding: 1em;
    border-radius: 10px;
}
.offer:hover{
    box-shadow: 5px 5px 10px #8a8989;
    transition: 0.5s;
}

.btn-primary{
    background-color: darkorange;
    border: white;
}
.btn-primary:hover{
    background-color: #d75a00;
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link{
    color: #1c1c1c;
    border-radius: 10px;
}

.nav-item:hover{
    background-color: #5b5b5b;
    transition: 0.5s;
    color: white;
    border-radius: 10px;
}

.listing-img{
    border: 4px solid #ffbf9c;
    border-radius: 5px;
    margin-bottom: 0.5em;
    transition: 0.5s;
    width: 200px;
    height: 200px;
}

.listing-img:hover{
    border-color: #ffffff;
    box-shadow: 2px 2px 10px #8a8989;
    width: 230px;
    height: 230px;
    transition: 0.5s;
}

li {
    list-style-type: none;
}

.navbar-logo{
    width: 85px;
    height: 23px;
    padding-top: -0.135rem;
}

.nav-profile-image{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid #FFFFFF;
    margin-left: 0.8em;
    border-radius: 40px;
    transition: 0.2s;
}

.nav-profile-image:hover{
    border-color: #d75a00;
}

.statistic-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.recent-message{
    background: #f6f6f6;
    padding: 1em;
    margin: 1em;
    /*border: 2px solid #fff3e5;*/
    border-radius: 10px;
    transition: 0.5s;
    text-decoration-color: #1c1c1c;
}

.recent-message:hover{
    background-color: #ffcc9c;
    box-shadow: 5px 5px 10px #8a8989;
}

.single_message{
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1em;
    background: #f8f8f8;
    border-radius: 15px;
}

.single_message:hover{
    background: #f6f6f6;
    transition: 0.5s;
}

.accepted-notification{
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1em;
    background: linear-gradient(-45deg, #c4ffb3, #dcffca);
    border-radius: 15px;
}

.accepted-notification:hover{
    background: linear-gradient(-45deg, #c4ffb3, #bafd97);
    transition: 0.7s;
}
.success-message{
    color:green;
}
.error-message{
    color:red;
}

.declined-notification{
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1em;
    background: linear-gradient(-45deg, #ffd4d4, #ffe2e2);
    border-radius: 15px;
}

.declined-notification:hover{
    background: linear-gradient(-45deg, #ffc0c0, #ffd5d5);
    transition: 0.7s;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

a:hover {
    color: black;
}

label{
    color: black;
}

h1{
    font-weight: bold;
}

#footer-fs{
    width: 100%;
    margin-top: 1em;
}

.search{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
}