{% extends 'base.html' %}
{% block content %}
        <h1 style="font-size: 80pt; display: flex; justify-content: center"> STATISTICS</h1>
    <div class="statistic-container">
        <div class="statistic-block">
            <h3>Total Users</h3>
            <h1>{{ total_users }}</h1>
        </div>
        <div class="statistic-block">
            <h3>Total Offers</h3>
            <h1>{{ total_offers }}</h1>
        </div>
        <div class="statistic-block">
            <h3>Total Listings</h3>
            <h1>{{ total_listings }}</h1>
        </div>
    </div>
{% endblock %}