.container{
    /*background: #ffffff;*/
    border-radius: 10px;
    padding: 0.5em;
    width: 1000px;
    margin-top: 1em;
}

.main-container{
    padding: 1em;
    border-radius: 15px;
    /*background: linear-gradient(-45deg, #ff9f69, #f8c7ab);*/

}
#singlelisting{
    background: #dedede;
    padding: 1em;
    margin: 1em;
    /*border: 2px solid #fff3e5;*/
    border-radius: 10px;
    transition: 0.5s;
    text-decoration-color: #1c1c1c;
}

#singlelisting:hover{
    background-color: #ffcc9c;
    box-shadow: 5px 5px 10px #8a8989;
}
.listing-photo{
    display: inline-block;
    width:200px;
    height: 200px;
    transition: 0.5s;
}

.listing-photo:hover{
    width: 250px;
    height:250%;
    box-shadow: 5px 5px 10px #8a8989;
}

.listing-details{
    margin: 1em;
}

.offer{
    background: linear-gradient(-45deg, #cffcb5, #f3ffec);
    margin: 0.5em;
    padding: 1em;
    border-radius: 10px;
}
.offer:hover{
    box-shadow: 5px 5px 10px #8a8989;
    transition: 0.5s;
}

.btn-primary{
    background-color: darkorange;
    border: white;
}
.btn-primary:hover{
    background-color: #d75a00;
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link{
    color: #1c1c1c;
    border-radius: 10px;
}

.nav-item:hover{
    background-color: #5b5b5b;
    transition: 0.5s;
    color: white;
    border-radius: 10px;
}


img{
    border: 4px solid #ffbf9c;
    border-radius: 5px;
    margin-bottom: 0.5em;
    transition: 0.5s;
    width: 200px;
    height: 200px;
}

img:hover{
    border-color: #ffffff;
    box-shadow: 2px 2px 10px #8a8989;
    width: 230px;
    height: 230px;
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

a:hover {
    color: black;
}


label{
    color: black;
}

h1{
    font-weight: bold;
}

