{% extends 'base.html' %}
{%  block content %}
    <div class="outer">
        <h1>{{  purchase.offer.listing.name }}</h1>
        <div class="main-container">
        <div class="singlelisting">
        {% for listing_image in purchase.offer.listing.listingimage_set.all %}
            <img src="{{ listing_image.image }}" class="listing-img" height="200px" width="200px"/>
        {% endfor %}
            <p>{{ purchase.offer.listing.description }}</p>
            <p>Seller: {{ purchase.offer.listing.seller }}</p>
            <p>Condition: {{ purchase.offer.listing.condition }}</p> {# TODO: Show text instead of INT. Maybe add model for condition? #}
            <p>Listed: {{ purchase.offer.listing.listed }}</p>
            <p>Bought for: {{ purchase.offer.amount }}</p>
        </div>
        </div>
    </div>
{% endblock %}