<a href="{% url 'purchase-details' purchase.id %}">
    <h3>{{  purchase.offer.listing.name }}</h3>
        <div id="singlelisting">
            <img class="img-float" src="{{ purchase.offer.listing.listingimage_set.first.image }}" height="200px" width="200px"/>
            <p>{{  purchase.offer.listing.description }}</p>
            <h4>Seller:</h4>
            <p>{{ purchase.offer.listing.seller}}</p>
            <h4>Buyer:</h4>
            <p>{{ purchase.offer.buyer }}</p>
            <h4>Price paid:</h4>
            <p>{{ purchase.offer.amount }} kr</p>
        </div>
</a>
