{%  extends 'base.html' %}

{% block content %}
    <h1 class="red">Listings
        {% if request.GET.search_filter is not None %}
            results for {{ request.GET.search_filter }}
        {% endif %}</h1>
    <div class="listings">
        {% for listing in page_obj %}
{#            Displays all listings#}
            {% with offers=listing.offer_set.all|dictsortreversed:"amount" %}
            {% include 'listing/single_listing.html' with listing=listing offer=offers.0 %}
            {% endwith %}
        {% endfor %}
    </div>
    {% include 'pagination.html' %}
{% endblock %}