{%  extends 'base.html' %}

{% block content %}
<form style="vertical-align: center" action="{% url 'listings' %}">
    <span>Sort by:</span>
    <select class="sort-by" name="sort">
          <option class="dropdown-item">Name</option>
          <option value="price">Lowest price</option>
          <option value="datetime"><p class="text">Newest</p></option>
          <input class="btn btn-primary" type="submit" value="Sort">
    </select>
  </form>
    <h1 class="red">Listings
        {% if request.GET.search_filter is not None %}
            results for {{ request.GET.search_filter }}
        {% endif %}</h1>
    <div class="listings">
        {% for listing in page_obj %}
{#            Displays all listings#}
            {% with offers=listing.offer_set.all|dictsortreversed:"amount" %}
{#            Gets the highest amount for each listing and displays it#}
            {% include 'listing/single_listing.html' with listing=listing offer=offers.0 %}
            {% endwith %}
        {% endfor %}
    </div>
    {% include 'pagination.html' %}
{% endblock %}