{% extends 'base.html' %}
{%  block content %}
    <div class="offers">
            <h1>{{  listing.name }}</h1>
            <div id="singlelisting">
{#            Displays a detailed description of a specific listing #}
                {% for listing_image in listing.listingimage_set.all %}
                    <img src="{{ listing_image.image }}" class="listing-img" height="200px" width="200px"/>
                {% endfor %}
                <p> {{ listing.description }}</p>
                <h5>Seller</h5>
                <p>{{ listing.seller }}</p>
                <h5>Condition</h5>
                <p>{{ listing.condition }}</p>
                <h5>Listed</h5>
                <p>{{ listing.listed }}</p>
                <h5>Top offer</h5>
                <p>{% with offers=listing.offer_set.all|dictsortreversed:"amount" %} {{ offers.0.amount }} kr{% endwith %}</p>
                {% if request.user.id == listing.seller.id%}

{#                    If the current user is the listing seller #}
{#                    the options to madify or remove the listing are present  #}

                    <a href="{% url 'remove-listing' listing.id %}" class="block btn btn-danger">Remove listing</a>
                    <a href="{% url 'update-listing' listing.id %}" class="block btn btn-info">Update listing</a>
                {% else %}

{#                    If the user is not the listing seller #}
{#                    the only option on the listing is to make an offer on it#}

                    <a href="{% url 'make-offer' listing.id %}" class="block btn btn-success">Make Offer</a>
                {% endif %}
        </div>
    {% if messages %}
    {% include 'message.html' %}
    {% endif %}
            <h2>Related products</h2>
        <div class="tiny_listing_list">
            {% for listing in mrp%}
{#           Displays all related listings#}
                {% include 'listing/single_tiny_listing.html' with listing=listing offer=1%}
            {% endfor %}
{#           Gets all the listing offers#}
            {%  include 'offer/offer_list.html' with page_obj=page_obj user=user%}</div>
    </div>
{% endblock %}