{%  extends 'base.html' %}

{% block content %}
{#    Shows a users' listings#}
    <h1>
        {% if seller == user %}
{#            If the owner of the listing is the current user#}
            Your
        {% else %}
{#            If the owner of the listing is not the current user#}
            {{ seller }}'s
        {% endif %}
        listings:</h1>
    <div class="listings">
        {% for listing_and_offer in page_obj %}
            {%  include 'listing/single_listing.html' with listing=listing_and_offer.0 offer=listing_and_offer.1%}
        {% endfor %}
    </div>
    {% include 'pagination.html' %}
{% endblock %}