{#Layout for displaying the message chain between two users#}
{%  extends 'base.html' %}

{% block content %}
    <h1 class="red">Message history with {{ user.username.capitalize }}</h1>
    <div class="message-history">


    {% for message in page_obj %}
        {%  include 'user/single_message.html' with message=message%}
    {% endfor %}

    <a href="{% url 'send-message' user.id%}" class="block btn btn-primary float-end">New message</a>
    </div>
    {% include 'pagination.html' %}

{% endblock %}